BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 70

InsertBraces: true
BreakBeforeBraces: Linux
SpaceAfterCStyleCast: true
AlignConsecutiveBitFields: true

BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
PenaltyReturnTypeOnItsOwnLine: 1000
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

SortIncludes: true
IncludeBlocks: Preserve
