# Build output
/build/
build_*/

# AVR build artifacts
*.o
*.elf
*.hex
*.map
*.lss

# CMake junk
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store

